<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/app.css">
  <title>Make a MadLib</title>
</head>
<body>
  <h1>Enter your answers to creat a MadLib!</h1>
  <form action="/madlib">
    {% for prompt in prompts %}
    <input type="text" placeholder="{{prompt}}" name="{{prompt}}"><br>
    {% endfor %}
    <button>Submit!</button>
  </form>
</body>
</html>